nav {
    background-color: lightgray;
    padding: 10px;
}

nav a {
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
   border: 1px solid white;
    color: white;
    background-color: gray;
}

nav a:hover {
    background-color: white;
    color: gray
}