nav{
    background-color: lightgrey;
    padding: 10px;
}

nav a{
    text-decoration: none;
    margin-right: 10px;
    color: black;
    border-radius: 5px;
   
    border: 1px solid white;
    padding: 5px;
}

nav a:hover{
    text-decoration: none;
    margin-right: 10px;
    color: white;
}
