div{
    width: 300px;
    margin: auto;
}
input[type="text"], input[type="password"]{
    width: 100%;
}
input[type="checkbox"]{
    width: 50%;
}
ol{
    list-style-type: none;
}
ol li{
    display: inline;
}

select{
    width: 100%;
}

button{
    width: 100%;
}
