<nav class="container-fluid bg-secondary p-2">
  <a class="btn btn-primary m-2" routerLink="home"><i class="material-symbols-outlined">home</i> </a>
  <a *ngIf="userLogado.perfil=='ADM'" class="btn btn-primary m-2" routerLink="cadastroproduto">Produto</a>
  <a *ngIf="userLogado.perfil=='ADM' || userLogado.perfil=='USER'" class="btn btn-primary m-2" routerLink="carrinho">Carrinho</a>
  <a *ngIf="!userLogado.email" class="btn btn-primary m-2" routerLink="login">Login</a>
  <a *ngIf="userLogado.email" class="btn btn-primary m-2" (click)="logout()">Sair</a>
  <label *ngIf="userLogado.email" style="color: white; margin-left: 40px;">{{"Olá, " + userLogado.nome}}</label>
</nav>

<router-outlet></router-outlet>