<div class="bg-secondary p-5 m-5">
    <form #f="ngForm" (ngSubmit)="fazerLogin(f.value)">
        <h2 class="m-2 p-2">Login</h2>
        <input class="form-control m-2" ngModel name="email" type="text" placeholder="Usuário *" required>
        <input class="form-control m-2" ngModel name="senha" type="password" placeholder="Senha *" required>
        <label *ngIf="f.invalid">* Campos obrigatórios</label>
        <div>
            <button [disabled]="f.invalid" class="btn btn-primary m-1">Login</button>
            <a routerLink="/cadastrousuario" style="margin-left: 30px; color: white;">Não é cadastrado?</a>
        </div>
    </form>
</div>

<router-outlet></router-outlet>


